html {
  margin: 1.5rem 1.5rem 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.move-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;


  &.active {
    background: #e0ffec;
  }

  > div {
  }

  .check-container {
    flex-direction: row;
    flex-grow: 2;

    input {
      margin-left: 1rem;
      flex-grow: 2;
      outline: none;
      border: none;
      background: transparent;
    }

  }
}

.selection-bar {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;

  > {
    flex-grow: 1;
  }
}

.orderable-list-container {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-bottom: 1px solid #aaa;

  &:last-child {
    border-bottom: none;
  }

  .label {
    display: inline-block;
    font-weight: bold;
    color: #444;
    margin-bottom: 0.5rem;
  }
}

.learned-list {

  .orderable-list {
    opacity: 0.5;
  }
}
